body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    text-align: center;
    width: 90%;
    max-width: 600px;
    overflow: auto;
    height: 90vh;
}

h1 {
    margin-bottom: 20px;
}

form {
    margin-bottom: 20px;
}

input, select, button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    box-sizing: border-box;
}

textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    box-sizing: border-box;
}

button {
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#quizOutput {
    margin-top: 20px;
}

.question-item {
    background-color: #fff;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
}

.question-item input, .question-item select, .question-item textarea {
    width: calc(100% - 22px); /* Adjusted for padding and border */
}
